---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import {getCollection} from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = await getCollection('blog').then(c => c.slice(0, 3));
const projects = (await getCollection('projects')).sort(
    (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main>
    <h1>Hi, I'm Kenneth</h1>
    <h3>
        I'm a father, husband, disciple of Christ and software engineer.
    </h3>
    <p>
        {SITE_DESCRIPTION}. I write most frequently about my personal software projects and my faith.
    </p>
    <h3>Recent posts</h3>
    <ul>
        {posts.map(post => (
                <li>{post.data.title}
                    <FormattedDate date={post.data.pubDate}/>
                </li>
        ))}
    </ul>
    <h3>Current Projects</h3>
    <ul>
        {projects.map(post => (
                <li>{post.data.title}</li>
        ))}
    </ul>
</main>
<Footer/>
</body>
</html>
