---
import type {CollectionEntry} from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BasicLayout from "./BasicLayout.astro";

type Props = CollectionEntry<'blog'>['data'];

const {title, description, pubDate, updatedDate} = Astro.props;
---

<BasicLayout title={title} description={description}>
    <article>
        <div class="prose centered">
            <div class="title">
                <div class="date">
                    <FormattedDate date={pubDate}/>
                    {
                        updatedDate && (
                                    <div class="last-updated-on">
                                        Last updated on
                                        <FormattedDate date={updatedDate}/>
                                    </div>
                        )
                    }
                </div>
                <h1>{title}</h1>
                <p>{description}</p>
                <hr/>
            </div>
            <slot/>
        </div>
    </article>
</BasicLayout>
