---
import type {CollectionEntry} from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<'projects'>['data'];

const {title, description, startDate, endDate, isAbandoned, license, repoLink, stackKeywords} = Astro.props;
---

<BaseLayout title={title} description={description}>
    <article>
        <div class="prose">
            <div class="title">
                <div class="date">
                    <FormattedDate date={startDate}/>
                    {
                        endDate && (
                                    <div class="last-updated-on">
                                        Shuttered on
                                        <FormattedDate date={endDate}/>
                                    </div>
                        )
                    }
                </div>
                <h1>{title}</h1>
                <hr/>
            </div>
            <slot/>
        </div>
    </article>
</BaseLayout>
